$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;


/*//////COLORS///////*/

$primary-main: #13182C;
$primary-alternative:#2E66E5;
$primary-light: #ffffff;


/*///////// HOVER COLORS ////////////////////*/

$secondary-main:#5C667E;
$secondary-alternative:#BDC5D5;



