.about__wrapper {
  max-width: 102rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1.6rem 1.6rem;
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  background-color: gainsboro;
  margin-top: 5rem;
}
