.form__current{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.form__interested{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.inputcom__area{
    width: 80%;
    height: 200px;
}

.inputcom__input{
    width: 30%;
    height: 20px;
}