.loading__bar{
    display: flex;
    margin:auto;
}

.loading__section{
    display: flex;
    flex-direction: column;
}

.loading__header{
    padding: 3rem 1.6rem;
}

.loading__tips{
    display: flex;

}

.tipslogo{
    width: 1.5rem;
    height: 1.5rem;
}